<li>
  <%= gravatar_for user, :size => 30 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? %>
  | <%= link_to "eliminar", user, :method => :delete, :confirm => "¿Estás seguro?",
                                :title => "Eliminar #{user.name}" %>
  <% end %>
</li>
