<tr>
  <td class="micropost">
    <span class="content"><%= micropost.content %></span>
    <span class="timestamp">
      hace <%= time_ago_in_words(micropost.created_at) %>
    </span>
  </td>
  <% if current_user?(micropost.user) %>
  <td>
    <%= link_to "eliminar", micropost, :method => :delete,
                                     :confirm => "¿Estas seguro?",
                                     :title => micropost.content %>
  </td>
  <% end %>
</tr>
